<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- HEADER -->
<div class="header header-1">
  <!-- TOP BAR -->
  <div class="topbar d-none d-md-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-6">
          <p class="mb-0">Bem-vindo ao O Tratador! A sua Agropet.</p>
        </div>

        <div class="col-sm-6 col-md-6">
          <div class="sosmed-icon d-inline-flex pull-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MIDDLE BAR-->
  <div class="middlebar">
    <div class="container">
      <div class="contact-info">
        <!-- Info 1 -->
        <div class="box-icon-1">
          <div class="icon">
            <div class="fa fa-clock-o">
            </div>
          </div>
          <div class="body-content">
            <div class="heading">Horário de Funcionamento</div>
            Seg. à Sáb. de 08h às 18h
            Dom. e Fer. de 08h às 12h
          </div>
        </div>
        <!-- Info 2 -->
        <div class="box-icon-1">
          <div class="icon">
            <div class="fa fa-phone"></div>
          </div>
          <div class="body-content">
            <div class="heading">Atendimento</div>
            61 3333 3333
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR SECTION -->
  <div class="navbar-main">
    <div class="container">
      <nav id="navbar-example" class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <img src="assets/IMG-6628.JPG" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                INÍCIO
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Pets Care</a>
                <a class="dropdown-item" href="pets-shop.html">Pets Shop</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about-us.html">SOBRE NÓS</a>
            </li>
            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                SERVIÇOS
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="services.html">Serviços</a>
                <a class="dropdown-item" href="services-single.html">Serviços individuais</a>
              </div>
            </li>
            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                PÁGINAS
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="page-faq.html">Faqs</a>
                <a class="dropdown-item" href="page-our-staff.html">Our Staff</a>
                <a class="dropdown-item" href="page-single-staff.html">Single Staff</a>
                <a class="dropdown-item" href="page-appointment-form.html">Appointment Form</a>
                <a class="dropdown-item" href="page-pricing-tables.html">Pricing Tables</a>
                <a class="dropdown-item" href="page-404.html">404 Page</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">GALLERY</a>
            </li>
            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                BLOG
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="blog.html">Blog List</a>
                <a class="dropdown-item" href="blog-single.html">Single Blog</a>
              </div>
            </li>
            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                SHOP
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="shop.html">Shop</a>
                <a class="dropdown-item" href="shop-list.html">Product List</a>
                <a class="dropdown-item" href="shop-single.html">Single Product</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACT</a>
            </li>

          </ul>
          <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">AGENDE UMA CONSULTA</a>
        </div>
      </nav> <!-- -->

    </div>
  </div>



</div>

<!-- BANNER  -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 50em;">
    <div class="carousel-item active h-100"
      style="background-image: url(assets/home01.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="text-carousel">
        <div class="container d-flex align-items-center">
          <div class="wrap-caption">
            <h1 class="caption-heading1">
              Nós fornecemos o melhor.
              <br>
              Cuide de seus animais
              <br>
              de estimação.
            </h1>
            <p class="caption-headingP1">A melhor loja de utensílios agropet em Taguatinga Norte, mais de 10.000
              clientes satisfeitos.</p>
            <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item h-100"
      style="background-image: url(assets/home02.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="text-carousel">
        <div class="container d-flex align-items-center">
          <div class="wrap-caption">
            <h1 class="caption-heading1">
              Nós fornecemos o melhor.
              <br>
              Cuide de seus animais
              <br>
              de estimação.
            </h1>
            <p class="caption-headingP1">A melhor loja de utensílios para Pet em Taguatinga Norte, mais de 10.000
              clientes satisfeitos.</p>
            <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item h-100"
      style="background-image: url(assets/home03.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="text-carousel">
        <div class="container d-flex align-items-center">
          <div class="wrap-caption">
            <h1 class="caption-heading3">
              Nós fornecemos o melhor.
              <br>
              Cuide de seus animais
              <br>
              de estimação.
            </h1>
            <p class="caption-headingP3">A melhor loja de utensílios para Pet em Taguatinga Norte, mais de 10.000
              clientes satisfeitos.</p>
            <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- SOBRE -->

<div class="section bgi-left bgi-hide-xs" data-background="images/about.jpg"
  style="background-image: url(assets/about.jpg); background-size: contain; background-repeat: no-repeat;">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-4">

          <h2 class="section-heading text-primary no-after mb-4">
            Bem-vindo ao O Tratador
          </h2>
          <p class="subheading mb-4">A saúde e o bem-estar do seu animal de estimação são a nossa prioridade.</p>

          <p>Quisque ut dolor gravida, placerat libero vel, euismod. Ut enim ad minim veniam, quis nostrud exercitation.
            Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus.
          </p>


          <div class="row mt-5">
            <!-- Item 1 -->
            <div class="col-sm-6 col-md-6">
              <div class="rs-icon-info-3 mb-5">
                <div class="info-icon">
                  <i class="fa fa-scissors"></i>
                </div>
                <div class="info-text">
                  <h3 class="text-secondary">Pet Grooming</h3>
                  Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do
                  eiusmod.
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="col-sm-6 col-md-6">
              <div class="rs-icon-info-3 mb-5">
                <div class="info-icon">
                  <i class="fa fa-home"></i>
                </div>
                <div class="info-text">
                  <h3 class="text-secondary">Pet Hotel</h3>
                  Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do
                  eiusmod.
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="col-sm-6 col-md-6">
              <div class="rs-icon-info-3 mb-5">
                <div class="info-icon">
                  <i class="fa fa-shield"></i>
                </div>
                <div class="info-text">
                  <h3 class="text-secondary">Vaccination</h3>
                  Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do
                  eiusmod.
                </div>
              </div>
            </div>
            <!-- Item 4 -->
            <div class="col-sm-6 col-md-6">
              <div class="rs-icon-info-3 mb-5">
                <div class="info-icon">
                  <i class="fa fa-medkit"></i>
                </div>
                <div class="info-text">
                  <h3 class="text-secondary">Pet Care</h3>
                  Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do
                  eiusmod.
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- PARCEIRO -->

<div class="section bgi-cover-center" data-background="assets/parceiros/pattern_bg.jpg"
  style="background-image: url(&quot;assets/parceiros/pattern_bg.jpg&quot;);">
  <div class="content-wrap py-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-6">
          <div class="img-cta">
            <img src="assets/parceiros/racao-super-premium-para-caes-optimum.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="text-white mt-5">
            <h1 class="section-heading no-after text-white">
              OPTIMUM, NUTRIÇÃO COMPLETA E BALANCEADA:
            </h1>
            <p class="uk21 text-white mb-4">Get Discount 10% Off Pet Food.</p>
            <p class="mb-5 text-white">A linha OPTIMUM™ traz o balanço ideal de proteínas e minerais que os pets devem
              consumir
              diariamente.Com BIOAVAILABILITY, compromisso de excelente absorção de nutrientes, o pet aproveita o máximo
              do alimento para aproveitar o máximo da vida.</p>

          </div>
          <!-- <a href="#" class="btn btn-light">Shop Now</a> -->
          <div class="spacer-50"></div>
        </div>

      </div>
    </div>
  </div>
</div>